@import 'tailwindcss';

:root {
  font-family: 'Poppins', 'Segoe UI', sans-serif;
  color: #052e16;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* ========================= */
/* CONFIGURAÇÃO 3D DO FLIP */
/* ========================= */

.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
